/*YLEINEN ARTEMIS CSS*/

body { 
    background-color: lightyellow;
    color: rgb(116, 141, 71);
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100%;
}

header { 
    background-color: lightgoldenrodyellow;
    border: 5px solid;
    border-color: darkolivegreen;
    margin: -7px; /*headerin ympärillä body värejä. Miinus hetkellinen ratkaisu.*/
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

header img {
    margin-top: 10px;
    margin-left: 10px;
}

h1 { /*Pääotsikko (ARTEMIS | luonnonsuojeorganisaatio*/
    color: darkolivegreen;
    font-size: 40px;
    float: right;
    margin-right: 70px;
    margin-top: 85px;
}

header nav { 
    background-color: darkolivegreen;
    padding-top: 1px;
    padding-bottom: 1px;
}

header nav ul { 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
}

header a {
    text-decoration: none;
}

a:link {
    color: darkkhaki;
}

a:visited {
    color: darkkhaki;
}

a:hover {
    color: rgb(216, 211, 122);
}

.in-page-navigation {
    justify-content: space-evenly;
}

.in-page-navigation ul {
    display: flex;
}

.in-page-navigation li {
    list-style-type: none;
}

.in-page-navigation a {
    text-decoration: none;
    margin-right: 50px;
}

h2 {
    color:darkolivegreen;
    font-size: x-large;
    text-align: center;
}

h3 {
    color: darkkhaki;
    font-size: x-large;
}

.subhead { 
    color: darkkhaki; 
    background: darkolivegreen; 
    padding: 1rem; /*sisätila, jotta teksti ei kosketa reunoja*/
    border-radius: 10px; /*pyöristetyt kulmat*/
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    background-color: lightgoldenrodyellow;
    text-align: center;
    border: 5px solid darkolivegreen;
    padding-top: 40px;
    padding-bottom: 30px;
}

footer address {
    color: darkolivegreen;
}

/*INDEX SIVUN CSS*/

.highlight {
    color: olive;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#note {
    background-color: floralwhite;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 10px;
}

/*DONATE SIVUN CSS*/

form {
    margin-top: 20px;
}

label.required::after {
    content: " *";
    color: goldenrod;
}

input[type="text"] {
    background-color: whitesmoke;
    color:rgb(116, 141, 71);
    border: 3px solid olive;
}

input[type="email"] {
    background-color: whitesmoke;
    color:rgb(116, 141, 71);
    border: 3px solid olive;
}

input:focus {
    border: 3px dotted olive;
    outline: none;
    background-color: white;
}

#custom-amount {
    display:none;
}

#choose-free-amount:checked ~ #custom-amount {
    display: inline-block;
}

#tietojen-jako-hyväksyntä:checked { 
    accent-color: white;
}

form button {
    color: darkolivegreen;
    background-color: white;
    margin-top: 10px;
}