body {
    background-color: oldlace;
}

h1 {
    box-sizing: border-box;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    color: rosybrown;
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

nav {
    text-align: center;
}

li {
    list-style-type: none;
    margin: 20px;
}

a {
    display: inline-block;
    color: rosybrown;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    border:3px solid rgb(159, 120, 120);
    border-radius: 20px;
    padding: 10px;
    white-space: nowrap;
}

a:visited {
    color: rosybrown;
}

a:hover {
    background-color: rgb(255, 243, 219);
    border: 3px dotted rgb(159, 120, 120);
}

@media (max-width: 480px) {/*Ilmeisesti sovittuu puhelimen näytölle*/
    h1 {
        font-size: 1.5rem;
    }
    li {
        margin: 30px 0;
    }
    a {
        font-size: 0.8rem;
        padding: 8px;
    }
}