body {
    background-color: oldlace;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rosybrown;
    text-align: center;
    font-size: xx-large;
    text-decoration: underline;
}

nav {
    text-align: center;
}

li {
    list-style-type: none;
    margin: 30px;
}

a {
    color: rosybrown;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    border:3px solid rgb(159, 120, 120);
    padding: 4px;
}

a:visited {
    color: rosybrown;
}

a:hover {
    background-color: rgb(255, 243, 219);
    border: 3px dotted rgb(159, 120, 120);
}