
body { /*koko homma*/
    background-color: darkseagreen;
}

article > h2 { /*artikkelin ensimmäinen h2*/
    color: white;
    font-weight: 900;
}

.card { /*sisältö 1*/
    box-sizing: border-box;
    max-width: 360px;
    padding: 1.5rem;
    border: 1px solid rosybrown;
    border-radius: 1rem;
    margin: 12px 0 0 0;
    text-align: center;
}

.container {/*sisältö 2*/
    box-sizing:border-box;
    max-width: 200px;
    padding: 1rem;
    border: 5px dotted rosybrown;
    border-radius: 50%;
    margin-top: 10px;
    text-align: center;
}

article p { /*artikkelin sisällä kaikki p:t*/
    color: whitesmoke;
}

h2 + p {
    color: white;
    font-weight: 500;
    font-style: oblique;
}

p:nth-child(odd) {
    background-color: rosybrown;
}








