
@font-face {
    font-family: "Gruppo";
    src: url("../../../fontit_yleinen/Gruppo/Gruppo-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

body {
    font-size: 15px;
    background-color: #f7ece1;
}

main {
    display: flex;
    flex-direction: column;
}

:root {
    --text-p: 1rem;
    --text-h1: 4rem;
    --text-h2: 2rem;
    --text-h3: 1.25rem;
    --text-small: 0.75rem;
    --text-code: 1rem;
    --title-text-color: #28afb0;
    --content-text-color: #19647e;
    --accent-text-color: #fef8fe;
    --link-text-color: #ebbfe8;
    --visited-link-text-color: #f3e4f2;
    --link-background-color: #28afb0;
    --link-border-color: #ffffff;
    --line-height-content: 1.6;
    --line-height-title: 1.1;
    --font-family: "Gruppo", 'Times New Roman', sans-serif;
}

h1 {
    font-size: var(--text-h1);
    font-size: clamp(2rem, 5vw, 4rem);
    color: var(--title-text-color);
    font-family: var(--font-family);
    text-align: center;
    line-height: var(--line-height-title);
    text-shadow: 2px 2px 4px #b29dbc;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 1.0rem;
}

.intro {
    font-size: var(--text-p);
    color: var(--content-text-color);
    line-height: var(--line-height-content);
    font-family: var(--font-family);
    text-align: center;
}

#articles {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
}

article {
    border-radius: 30px;
    box-shadow: 0px 0px 30px 5px #22cec0;
    max-width: 75ch;
    max-height: clamp(150rem, 20vh, 200rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #cac4ce;
    padding: 2rem;
    padding-bottom: 5rem;
    margin: 1.5rem;
    align-items: center;
    position: relative;
    transition: transform 0.5s ease-out;
}

article:hover {
    transform: scale(1.05);
    outline: 3px solid #fff;
}

article:focus-visible {
    transform: scale(1.05);
    outline: 3px solid #fff;
}

#cu-periodic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: var(--text-h2);
    color: var(--title-text-color);
    font-family: var(--font-family);
    line-height: var(--line-height-title);
}

h3 {
    font-size: var(--text-h3);
    color: var(--title-text-color);
    font-family: var(--font-family);
    line-height: var(--line-height-title);
}

p {
    font-size: var(--text-p);
    color: var(--content-text-color);
    font-family: var(--font-family);
    line-height: var(--line-height-content);
}

details {
    box-sizing: border-box;
    display:block;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 2px solid #876c90;
    border-radius: 5px;
    padding: 1rem;
    font-size: var(--text-p);
    color: var(--content-text-color);
    font-family: var(--font-family);
    line-height: var(--line-height-content);
}

code {
    box-sizing: border-box;
    display: block;
    position: sticky;
    font-size: var(--text-code);
    color: var(--accent-text-color);
    font-family: var(--font-family);
    line-height: 1.0;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    hyphens: auto; 
}

small {
    font-size: var(--text-small);
    color: var(--content-text-color);
    font-family: var(--font-family);
    line-height: var(--line-height-content);
}

.link {
    font-size: var(--text-p);
    color: var(--link-text-color);
    font-family: var(--font-family);
    line-height: var(--line-height-content);
    text-decoration: none;
    background-color: #28afb0;
    border: 2px solid #ffffff;
    box-shadow: 10px 10px 4px #b29dbc;
    padding: 0.5rem;
    margin-bottom: 1rem;
    align-self: flex-end;
}

.link:visited {
    color: var(--visited-link-text-color);
}

.link:hover {
    color: var(--accent-text-color);
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

article .link {
    position: absolute;
    bottom: 1rem;
}

#contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

#contact-button-email, #contact-button-phone { /*TEE VALMIIKSI*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-size: var(--text-p);
    color: var(--link-text-color);
    font-family: var(--font-family);
    line-height: var(--line-height-content);
    text-decoration: none;
    background-color: #28afb0;
    border: 2px solid #ffffff;
    box-shadow: 10px 10px 4px #b29dbc;
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin: 1rem;
}

#contact-button-email:hover {
    color: var(--accent-text-color);
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

#contact-button-phone:hover {
    color: var(--accent-text-color);
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

#contact-button-phone:disabled {
    background-color: #b29dbc;
    color: #f3e4f2;
    cursor: not-allowed;
    transition: none;
    transform: none;
}

